@import url('https://fonts.googleapis.com/css?family=Open+Sans:800,400');
@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:300');

:root {
    /*--primary-color: #5BBD3A;
    --secondary-color: #7FDD60;*/
    --text-color: white;
}

.padrao {
    display: inline-block;
}