@import url('https://fonts.googleapis.com/css?family=Open+Sans:800,400');

:root {
    --primary-color: #5BBD3A;
    --secondary-color: #7FDD60;
}

.card {
    width: 7cm;
    height: 10cm;

    box-sizing: border-box;
    padding: 3mm 4mm;

    border: 1px solid;
}

.topnav {
    width: 62mm;
    height: 7mm;

    margin-bottom: 1mm;

    background-color: var(--primary-color);
}

.content-box {
    width: 62mm;
    height: 30mm;

    margin-bottom: 3mm;
}

    .content-info{
        float: left;
        width: fit-content;
    }

        .logo-and-institute {
            width: 36mm;
            height: 13mm;

            margin-bottom: 1mm;
        }

            .logo {
                float: left;

                width: 9.7mm;
                height: 13mm;

                margin-right: 1mm;
            }
                .logo img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                }

            .institute {
                float: left;

                width: 25mm;
                height: 13mm;

                margin-bottom: 1mm;
            }
                .institute .name {
                    margin: 0;
                    padding: 0;

                    font-family: 'Open Sans';

                    font-size: 12pt;
                    font-weight: 800;

                    line-height: 1em;
                }

                .institute .campus {
                    margin: 0;
                    padding: 0;

                    font-family: 'Open Sans', sans-serif;

                    font-size: 10pt;
                    font-weight: 400;

                    line-height: 1em;
                }

        .course-type {
            height: 16mm;

            text-align: center;
            line-height: 16mm;

            font-family: 'Open Sans', sans-serif;
            font-size: 14pt;

            background-color: var(--primary-color);
            color: white;
        }
        

    .content-image {
        float: right;

        width: 25mm;
        height: 30mm;

        background-color: var(--secondary-color);
    }

        .content-image img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
